

:root {

        --nav-background : #000000;
        --nav-color : #fff;      
         
    }



.intro__footer {

       
        background-color: var(--nav-background);
        color: var(--nav-color);
        padding: 1rem;
}

p {
      text-align: center;
      font-size: 1rem;
      
}