


:root {

        --nav-background : #000000;
        --nav-color : #fff;      
         
    }


   
footer {

        margin-top: auto;
        background-color: var(--nav-background);
        color: var(--nav-color);
        padding: 1rem;
        
}

p {
      text-align: center;
      font-size: 1rem;
      margin-bottom: 1rem;
      
}


span i {
      
       font-size: 2rem;
}

